<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <style>
        .right-box {
          float: right;
        }
        </style>
    로그인 성공 게시판 화면 출력!    <div class='right-box'><button>내가 쓴 게시글 보기</button>  </div>              <br> <br>  
    <button> 공지사항 </button>  <br>
    공지사항 1 <br>
    공지사항 2 <br> <br>
    <button> 글쓰기</button> <br>
    게시글 1 <br>
    게시글 2  <br>
    . <br>
    .<br>
    .<br>
   
    

</html>